<!-- all posts content section-->
<section class="py-5">
    {{#each posts as |post| }}
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>
                    <a href="/api/posts/{{post.id}}">{{post.title}}</a>
                </h2>
                <p class="lead">{{post.user.username}} on {{format_date post.createdAt}}</p>
                <p class="mb-0">{{post.content}} </p>
                <div>
                    <p> {{post.comments.length}} Replies </p>
                    <a href="/api/posts/{{post.id}}">Click to view full post & comments!</a>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</section>




